body {
    background-color:peachpuff;
    background-image: url('../assets/Q-Kitchen.PNG');
}

header {
    background-color: papayawhip
}

table {
    border: solid 1px;
    width: 100%;
    font-family: cursive;
    font-size: 20px;
}

td, th {
    border: solid 1px;
    justify-content: center;
    align-content: center;
}

th {
    background-color: mediumaquamarine;
}

tr:nth-child(even){
    background-color: lightsteelblue;
}

#order-button {
    margin-top: 20px;
    height: 50px;
    width: 20%;
    background-color: lightsalmon;
}



