body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/pattern.jpg');
}

.food-items {
    font-family: cursive;
    font-size: 20px;
    width: 500px;
    height: 400px;
    padding: 10px;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
    background-color: lemonchiffon;
}

.food-items > img {
    margin-top: 10px;
    width: 200px;
    padding: 10px;
}

.food-items > p {
    margin: 0;
}

ul {
    list-style: none;
}

button {
    background-color: lightsalmon;
    border: solid 2px lightsalmon;
    height: 30px;
    width: 200px;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}